<!DOCTYPE html>
<html lang="en">


<head>
    <title>Title name</title>

    <!-- metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    * {
        font-family: Arial, sans-serif;
        padding: 10% 20%;
        max-width: 1000px;
    }

    body {
        font-family: Arial, sans-serif;
        align-items: center;
        margin: 50px;
        background-color: cornflowerblue;
        border: 2px blueviolet solid double;
        box-shadow: 2px 1px;
    }
</style>

<body>

    <h1>Index EJS</h1>

</body>

</html>